* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	background: #f1f5f8;
	color: #222;
}

.booklist {
	width: 90vw;
	max-width: 1170px;
	margin: 5rem auto;
	display: grid;
	gap: 2rem;
}
.book {
	background: #fff;
	border-radius: 1rem;
	padding: 1rem 2rem;
	text-align: center;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	width: 20rem;
	max-width: 30rem;
	overflow-x: hidden;
}

.book:hover {
	transform: scale(1.1);
}

.book h1 {
	margin-top: 0.5rem;
}

.book p {
	margin-top: .25rem;
	color: #a59191;
}

.book .btn {
	margin-right: 1.05rem;
}

@media screen and (min-width: 768px) {
	.booklist {
		grid-template-columns: repeat(3, 1fr);
	}
}
